body
{
	background-color: #F5F5F5;
}

#Headder
{
	background-color: #FFFFFF;
	text-decoration: none;
	position: absolute;
	padding: 0%;
	margin: 0%;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 9%;
}

#Facebook
{
	position: absolute;
	right: 15%;
	height: 5%;
	top: 2%;

}

#Instergram
{
	position: absolute;
	right: 10%;
	height: 5.5%;
	top: 2%;
}

#Twitter
{
	position: absolute;
	right: 5%;
	height: 5%;
	width: 3%;
	top: 2.3%;
}

#Main-Title
{
	position: absolute;
	left: 10%;
	top: 26%;
	font-family: arial;
	font-size: 35px;
}

#Headder ul li
{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 30px;
	padding: 40px;
}

#NavBar
{
	position: absolute;
	top: -30%;
	left: 30%;
}


#Jumbotron
{
	position: absolute;
	color: #3D4040;
	font-size: 50px;
	font-family: arial;
	text-align: center;
	left: 0%;
	top: 9%;
	height: 60%;
	width: 100%;
	background-color: #8AF5F5;
	background-image: url(JumbotronMainImg.JPG);

}

#Learn-More
{
	position: absolute;
	text-decoration: none;
	left: 44%;
	background-color: #FF9653;
	text-align: center;
	width: 10%;
	height: 10%;

}

#Button-Text
{
	font-family: arial;
	text-decoration: none;
	position: absolute;
	display: inline-block;
	left: 3%;
	top: -110%;
}

.special
{
	color: #FFFFFF;
}

#Services
{
	position: absolute;
	left: 0%;
	top: 69%;
	height: 40%;
	width: 100%;
	background-color: #FFFFFF;
}

#Web-Dev-About
{
	position: absolute;
	font-family: arial;
	top: 48%;
	left: 10%;
}

#Social-Media-About
{
	position: absolute;
	font-family: arial;
	top: 48%;
	left: 44%;
}

#Testemonials-About
{
	position: absolute;
	font-family: arial;
	top: 48%;
	left: 75%
}

#DevImgLogo
{
	position: absolute;
	top: -65%;
	left: 20%;
	height: 60%;
}

#SocalImgLogo
{
	position: absolute;
	top: -65%;
	left: 33%;
	height: 55%;
}

#TestimonialsImg
{
	position: absolute;
	top: -65%;
	left: 20%;
	height: 56%;
}

#Content-Area-2
{
	position: absolute;
	top: 105%;
	left: 0%;
	width: 100%;
	height: 66%;
	background-color: #3E484F;
}

#Web-Dev-Img
{
	position: absolute;
	height: 50%;
	width: 16%;
	top: 10%;
	float: right;
}

#Web-Dev-Img-Text
{
	position: absolute;
	left: 20%;
	top: 7%;
	font-size: 20px;
	float: right;
	font-family: arial;
	color: white;
}

#Web-Dev-Img-2
{
	position: absolute;
	height: 30%;
	right: 0%;
	top: 130%;
}

#Web-Dev-Img-Text-2
{
	position: absolute;
	right: 20%;
	top: 135%;
	font-family: arial;
	color: white;
	font-size: 20px;
}

#Testimonials-Section
{
	position: absolute;
	background-color: #C7E9FF;
	color: #2465E8;
	text-align: center;
	font-size: 30px;
	font-family: arial;
	left: 0%;
	height: 60%;
	width: 100%;
	top: 170%;
}

#Testimonials-Section-Under-Headder
{
	color: #6B6E6C;
}

#Testimonials-Section-Imges-1
{
	position: absolute;
	left: 46%;
	height: 30%;
}

#Testimonials-Section-Testimonials
{
	position: absolute;
	top: 80%;
	left: 42%;
}

#Footer
{
	position: absolute;
	left: 0%;
	top: 230%;
	background-color: #2A3136;
	height: 30%;
	width: 100%;
}

#News-Hedder
{
	position: absolute;
	font-family: arial;
	left: 18%;
	color: #D98F22;
}

#Social-Media-Footer-Info
{
	position: absolute;
	font-family: arial;
	left: 45%;
	color: #D98F22;
}

#Get-In-Touch-Footer-Info
{
	position: absolute;
	font-family: arial;
	left: 74%;
	color: #D98F22;
}