@media only screen and (max-width: 1400px) 
{

#Headder ul li
{

display: inline-block;
text-decoration: none;
color: black;
font-size: 30px;
padding: 20px;

}

#Main-Title
{
	position: absolute;
	left: 10%;
	top: 20%;
	font-family: arial;
	font-size: 35px;
}

#NavBar
{
	position: absolute;
	top: -35%;
	left: 30%;
}

#Content-Area-2
{
	position: absolute;
	top: 109.5%;
	left: 0%;
	width: 100%;
	height: 90.5%;
	background-color: #3E484F;
}

#Web-Dev-Img-2
{
	position: absolute;
	height: 30%;
	right: 0%;
	top: 169%;
}

#Web-Dev-Img-Text-2
{
	position: absolute;
	right: 20%;
	top: 170%;
	font-family: arial;
	color: white;
	font-size: 20px;
}

#Web-Dev-Img
{
	position: absolute;
	height: 35%;
	width: 16%;
	top: 10%;
	float: right;
}

#Testimonials-Section
{
	position: absolute;
	background-color: #C7E9FF;
	color: #2465E8;
	text-align: center;
	font-size: 30px;
	font-family: arial;
	left: 0%;
	height: 60%;
	width: 100%;
	top: 200%;
}


#Footer
{
	position: absolute;
	left: 0%;
	top: 260%;
	background-color: #2A3136;
	height: 30%;
	width: 100%;
}


 
}